<h1>Welcome to the Nested Forms Lab!</h1>

<h2>Make your form here</h2>
<form action="/pirates" method="post">
  <p><label for="pirate_name">Pirate Name:</label><input type="text" name="pirate[name]" id="pirate_name"></p>
<p><label for="pirate_weight">Pirate Weight:</label><input type="text" name="pirate[weight]" id="pirate_weight"></p>
<p><label for="pirate_height">Pirate Height:</label><input type="text" name="pirate[height]" id="pirate_height"></p>
<p><label for="ship_name_1">Ship Name 1:</label><input type="text" name="pirate[ships][][name]" id="ship_name_1"></p>
<p><label for="ship_type_1">Ship Type 1:</label><input type="text" name="pirate[ships][][type]" id="ship_type_1"></p>
<p><label for="ship_booty_1">Ship Booty 1:</label><input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></p>
<p><label for="ship_name_2">Ship Name 2:</label><input type="text" name="pirate[ships][][name]" id="ship_name_2"></p>
<p><label for="ship_type_2">Ship Type 2:</label><input type="text" name="pirate[ships][][type]" id="ship_type_2"></p>
<p><label for="ship_booty_2">Ship Booty 2:</label><input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></p>
<p><input type="submit" value="Submit"></p>
</form>